[Unit]
Description=X Virtual Frame Buffer Service
After=network.target
[Service]
ExecStart=/usr/bin/Xvfb :2 -screen 0 1024x768x24 +iglx
[Install]
WantedBy=multi-user.target
